<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:p="http://primefaces.org/ui">
	<h:head>
	</h:head>
	<h:body>
		<p:outputLabel value="Empresas" id="msg1" styleClass="msg" />
		<p:dataTable emptyMessage="Não há empresas cadastradas" value="#{empresaMB.listaEmpresas}" var="e" id="dtEmpresas" 
			styleClass="order-table" headerClass="order-table-header" rowClasses="order-table-odd-row,order-table-even-row" 
			paginator="true" rows="20">
			<p:column headerText="CNPJ" sortBy="#{e.CNPJ}" filterBy="#{e.CNPJ}" filterMatchMode="exact">
				<h:outputText value="#{e.CNPJ}" />
			</p:column>
			<p:column headerText="Razão Social" sortBy="#{e.razaoSocial}" filterBy="#{e.razaoSocial}" filterMatchMode="exact">
				<h:outputText value="#{e.razaoSocial}" />
			</p:column>
			<p:column headerText="UF" sortBy="#{e.uf}" filterBy="#{e.uf}" filterMatchMode="exact">
				<h:outputText value="#{e.uf}" />
			</p:column>
			<p:column headerText="Município" sortBy="#{e.municipio}" filterBy="#{e.municipio}" filterMatchMode="exact">
				<h:outputText value="#{e.municipio}" />
			</p:column>
			<p:column>
				<f:facet name="header"> Tipo </f:facet> #{e.tipo} 
			</p:column>
			<p:column>
				<h:form id="commandFormEdicao">
					<center>
						<h:commandButton value="Delete" styleClass="fs-button-portfolio" action="#{empresaMB.deleteEmpresa}" ajax="false">
							<f:setPropertyActionListener target="#{empresaMB.selectedCNPJ}" value="#{e.CNPJ}" />
						</h:commandButton>&nbsp;&nbsp;&nbsp;
						<h:commandButton value="Edit" styleClass="fs-button-portfolio" action="#{empresaMB.editEmpresa}" ajax="false">
							<f:setPropertyActionListener target="#{empresaMB.selectedCNPJ}" value="#{e.CNPJ}" />
						</h:commandButton>
					</center>
				</h:form>
			</p:column>
		</p:dataTable><br /><br />
		<h:form id="commandFormCadastro">
			<p:commandButton action="#{empresaMB.cadastrarEmpresa}" value="Cadastrar Empresa" ajax="false"></p:commandButton>
		</h:form>
	</h:body>
</html>