<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:p="http://primefaces.org/ui"> 
	<h:head>
	</h:head> 
	<h:body>
		<p:outputLabel value="Atualizar Empresa" id="msg2" styleClass="msg" />
		<h:form id="empresaForm" enctype="multipart/form-data" prependId="false">
			<p:panelGrid id="panel1" border="3" cellpadding="5" cellspacing="1">
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputText value="Criar empresa" />
						</p:column>
					</p:row>
				</f:facet> 
				<p:row>
					<p:column>
						<p:outputLabel value="Tipo:" />
					</p:column>
					<p:column>
						<p:selectOneRadio id="matrizFilial" value="#{empresaMB.matrizFilial}">
							<p:ajax event="change" listener="#{empresaMB.selecionarEmpresa}" ></p:ajax>
							<f:selectItem itemValue="true" itemLabel="Matriz" />
							<f:selectItem itemValue="false" itemLabel="Filial" />
							<f:ajax event="change" execute="@this" render="panel1" />
						</p:selectOneRadio>
						<p:message for="matrizFilial" />
					</p:column>
				</p:row>
				<p:row rendered="#{empresaMB.matrizFilial eq 'false'}">
					<p:column>
						<p:outputLabel value="Selecionar matriz:" rendered="#{empresaMB.matrizFilial eq 'false'}" />
					</p:column>
					<p:column>
						<p:selectOneMenu id="matrizes" value="#{empresaMB.selectedCNPJ}">
							<f:selectItems value="#{empresaMB.listaMatrizes}" var="e" itemLabel="#{e.razaoSocial}" itemValue="#{e.CNPJ}" />
						</p:selectOneMenu>
						<p:message for="matrizes" rendered="#{empresaMB.matrizFilial eq 'false'}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="Razao social:" />
					</p:column>
					<p:column>
						<p:inputText value="#{empresaMB.empresa.razaoSocial}" id="razaoSocial" maxlength="100" required="true" requiredMessage="Campo obrigatório" />
						<p:message for="razaoSocial" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="CNPJ:" />
					</p:column>
					<p:column>
						<p:inputText value="#{empresaMB.empresa.CNPJ}" required="true" id="CNPJ" validatorMessage="CNPJ mal formatado" requiredMessage="Campo obrigatório">
							<f:validateRegex pattern="^[0-9]{2,3}\.[0-9]{3}\.[0-9]{3}\/[0-9]{4}-[0-9]{2}$" />
						</p:inputText>
						<p:message for="CNPJ" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="Logradouro:" required="true" />
					</p:column>
					<p:column>
						<p:inputText value="#{empresaMB.empresa.logradouro}" id="logradouro" maxlength="150" required="true" requiredMessage="Campo obrigatório" />
						<p:message for="logradouro" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="Número:" />
					</p:column>
					<p:column>
						<p:inputText value="#{empresaMB.empresa.numero}" id="numero" required="true" requiredMessage="Campo obrigatório" maxlength="10">
							<f:convertNumber integerOnly="true" type="number" />
						</p:inputText>
						<p:message for="numero" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="Complemento:" />
					</p:column>
					<p:column>
						<p:inputText value="#{empresaMB.empresa.complemento}" id="complemento" />
						<p:message for="complemento" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="Município:" />
					</p:column>
					<p:column>
						<p:inputText value="#{empresaMB.empresa.municipio}" id="municipio" maxlength="150" required="true" requiredMessage="Campo obrigatório" />
						<p:message for="municipio" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="UF:" />
					</p:column>
					<p:column>
						<p:inputText value="#{empresaMB.empresa.uf}" id="uf" maxlength="2" required="true" requiredMessage="Campo obrigatório" />
						<p:message for="uf" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="Telefone:" />
					</p:column>
					<p:column>
						<p:inputText value="#{empresaMB.empresa.telefone}" id="telefone1" required="true" requiredMessage="Campo obrigatório" />
						<p:message for="telefone1" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="Telefone 2:" />
					</p:column>
					<p:column>
						<p:inputText value="#{empresaMB.empresa.telefone2}" id="telefone2" />
						<p:message for="telefone2" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel value="Email" />
					</p:column>
					<p:column>
						<p:inputText id="email" value="#{empresaMB.empresa.email}" label="email" size="40" validatorMessage="Email mal formatado">
							<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
						</p:inputText>
						<p:message for="email" />
					</p:column>
				</p:row>
				<f:facet name="footer">
					<p:row>
						<p:column colspan="2">
							<h:commandButton value="Atualizar" update="empresaForm" action="#{empresaMB.updateEmpresa}">
								<f:ajax render="razaoSocial CNPJ logradouro numero complemento municipio uf telefone1 telefone2" execute="@form" />
							</h:commandButton>
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form><br /><br />
		<h:form id="commandFormVoltar">
			<p:commandButton action="#{empresaMB.voltarListagem}" value="Voltar" ajax="false"></p:commandButton>
		</h:form>
	</h:body>
</html>